.root{
    -fx-background-color: #3c3f41;
    -fx-background-radius: 10;
}
.label{
    -fx-text-fill: #fafafa;
}
.button{
    -fx-background-color: #3c3f41;
    -fx-border-color: #535353;
    -fx-text-fill: #fafafa;
    -fx-border-width: 1;
    -fx-border-radius: 10;

}