#root{
    -fx-background-color: #3c3f41;
    -fx-background-radius: 10;
}
#root > *{
    -fx-font: 14px Helvetica, sans-serif ;
}
.label{
    -fx-text-fill: #fafafa;
}
.button{
    -fx-background-color: #3c3f41;
    -fx-border-color: #535353;
    -fx-text-fill: #fafafa;
    -fx-border-width: 3;
    -fx-border-radius: 10;
}
#context{
    -fx-background-color: #afb1b3;
    -fx-fill: black;
    -fx-background-radius: 20;
}

.scroll-pane{
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: #3c3f41;
}
.scroll-pane .viewport{
    -fx-background-color: #2b2b2b,
    linear-gradient(from 0.5px 0px to 10.5px 0px, repeat, #3c3f41 5%, transparent 5%),
    linear-gradient(from 0px 0.5px to 0px 10.5px, repeat, #3c3f41 5%, transparent 5%);
}
.scroll-pane > .scroll-bar , .tool-bar, .scroll-pane> .corner{
    -fx-border-color: #fafafa;
    -fx-border-width: 0.01;
    -fx-background-color:  #313335;

}
.scroll-pane > .scroll-bar > .thumb{
    -fx-background-color: #595b5d;

}